
/* Estilos para os links estilo botão */
.nav-link {
  text-decoration: none; /* Remove a sublinhado padrão dos links */
  padding: 10px 20px; /* Adicione preenchimento para criar uma aparência de botão */
  background-color: #007bff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none; /* Remova as bordas */
  border-radius: 5px; /* Adicione bordas arredondadas */
  cursor: pointer; /* Mude o cursor para indicar que é clicável */
  margin-right: 10px; /* Adicione margem direita para espaçamento entre os botões */
}

.nav-link:hover {
  background-color: #0056b3; /* Cor de fundo quando o mouse passa por cima */
}
